  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>How similar is this to what TikTok uses?</h2>
              <p>TikTok's algorithm is proprietary, and we probably will never know exactly what it does.</p>
              <p>I can tell you that this framework (ResNeXt-50) is an industry standard, and that
                  the algorithm used here is the best public beauty DNN. 
              </p>
              <p>I would guess that TikTok uses a heavily modified version of this - I would particularly expect that
                   they at least used a training set which includes non-white/Asian faces - but who knows. </p>
          </div>
      </div>
  </aside>
