<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 center-input">
                <div class="text-center">
                    <h2 class="section-heading">Contact</h2>
                    <hr class="primary">
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 offset-lg-2 text-center">
                <a href="https://www.tiktok.com/@benthamite">
                    <img src="/img/tiktok.svg" style="width: 56px; height: 56px"/>
                    <p>@benthamite</p>
                </a>
            </div>
            <div class="col-lg-2 offset-lg-1 text-center">
                <a href="mailto:xodarap00@gmail.com">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>xodarap00@gmail.com</p>
                </a>
            </div>
            <div class="col-lg-2 offset-lg-1 text-center">
                <a href="https://github.com/xodarap">
                <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Xodarap</p>
                </a>
        </div>
        </div>
    </div>
</section>
