<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Does this really work?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="service-box">
                    <p class="text-muted">The authors found that its results correlated well with human evaluators (rho = 0.90).</p>
                    <p class="text-muted">But don't take it too seriously.</p>
                    <p class="text-muted">Gal Godot, literally the most attractive woman
                        alive according to FHM, scores at the 80th percentile.
                    </p>
                    <p class="text-muted">Also, Liang et al. trained their algorithm on only white and Asian faces.
                        It probably does substantially worse at predicting the beauty of people of other races. e.g. Beyoncé is
                        rated around the 70th percentile.
                    </p>                    
                    <p class="text-muted">Here are some example images they used:
                    </p>                    
                    <img src="img/SCUT-FBP5500.jpg" style="width: 100%;" />
                </div>
            </div>
        </div>
    </div>
</section>
